name: Validate POC-Test-1 against POC
on:
  workflow_dispatch: null
  push:
    branches:
      - POC-Test-1
    paths:
      - force-app/**
jobs:
  validate-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch baseline branch (POC)
        run: git fetch origin POC
      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli
      - name: Install sfdx-git-delta
        run: |
          echo "y" | sf plugins install sfdx-git-delta
      - name: Generate Delta package
        run: >
          rm -rf delta

          mkdir -p delta

          sf sgd:source:delta --to "HEAD" --from "origin/POC" --output delta/ --generate-delta

          echo "[INFO] Delta package generated"
      - name: Prepare JWT Key
        run: echo "${{ secrets.NTSBPOC_SERVER_KEY }}" > server.key
      - name: Skip if no delta
        run: |
          if [ ! -f "delta/package/package.xml" ]; then
            echo "No Salesforce metadata changes detected. Skipping validation."
            exit 0
          fi
      - name: Authenticate
        run: |
          sf org login jwt \
            --client-id "${{ secrets.NTSBPOC_CONSUMER_KEY }}" \
            --jwt-key-file server.key \
            --username "${{ secrets.NTSBPOC_USER_NAME }}" \
            --instance-url "${{ vars.NTSBPOC_URL }}" \
            --set-default
      - name: Validate Delta Changes
        run: >
          sf project deploy validate \
            --manifest delta/package/package.xml \
            --post-destructive-changes delta/destructiveChanges/destructiveChanges.xml \
            --wait 10 \
            --test-level RunLocalTests
